.App {
  background: #0d1117;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 0px;
  overflow: hidden; /* Ensures no overflow causes white bars */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: transparent; /* Remove the solid background color */
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: medium;
  color: white;
  text-align: center; /* Center the text */
  width: 100%; /* Ensure the header takes the full width */
}

.App-footer {
  text-align: center;
  padding: 15px;
  color: #bfbdc1;
  font-size: 0.9rem;
  font-weight: bold;
  margin-top: 20px;
  position: relative;
  width: 100%;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

img:hover + div {
  display: block;
  opacity: 1;
}
